{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"trailingComma": "es5",
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 100,
	"endOfLine": "auto",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
